@model IEnumerable<PackPickup1.Models.Driver>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table table-bordered table-dark" >
    <tr>
        <th>
            Name
        </th>
        <th>
            Email Address
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.User.Name, "Edit", new { id = item.DriverId })    
        </td>
        <td>
            @item.User.Email
        </td>
        <td>
           
        </td>
    </tr>
}

</table>
