/* Set padding to keep content from hitting the edges */
.body-content {
    margin: 80px 0 0 0;
    font-family: 'Lato',sans-serif;
    color: #ffffff;
    background-color: white;
}
.modal-header {
    background-color: #009688 !important;
    color: #fff !important;
    
}

.modal-title {
    letter-spacing: 4px;
    font-size: 30px;
}
.w3-margin {
    margin-right: 16px !important;
}

.modal-content {
    color: black;
}
.modal-footer {
    background-color: #009688 !important;
    
}
.popover-body {
    text-align: justify;
    overflow: auto;
    padding: 2px 4px 7px 4px;
}
.popover-body dd{
        padding-bottom:5px;
}


.media-body {
    color: white;
    background-color:white;
    border: groove;
}

.line {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom:0;
}
.row{
    padding-top:0.5rem;
    
}
.Hire{
    padding-top:0.5rem;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    [class*="col-1"] {
        width: 100%;
    }
.body-content {
        margin: 80px 0 0 0;
        padding:20px 0 0 0 ;
        font-family: 'Poppins',sans-serif;
        font-size:smaller;
        color: #ffffff;
        background-color: white;
}

.btn-light {
        width: 140px;
        height: 120px;
        background-color: white;
        margin: 20px 5px 1px 0;
        padding: 0 0 0 0 ;
        border-radius: 10px;
        border: 2px solid;
        outline: none;
}
.btn-block {
        margin: 20px 5px 1px 5px;
        background-color: white;
        border-radius: 10px;
        border: 2px solid;
        width: 98%;
}
.btn-light img {
        width: 100px;
        height: 55px;
}

    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
 .dl-horizontal dt {
        white-space: normal;
 }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }
}
